.article {
	min-width: 600px;
	background-color: white;
	border-radius: 20px;
	padding: 20px 55px;

	&Title {
		font-size: 40px;
		line-height: 45px;
		padding-bottom: 10px;
		text-align: center;
	}

	&Text{
		text-align: center;
	}
	
}